<mat-accordion>
    <mat-expansion-panel hideToggle
    *ngFor = "let post of posts$ | async;let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{post.id}}
        </mat-panel-title>
        <mat-panel-description>
            {{post.title}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{post.body}}</p>
      <b style="color:blueviolet;">The comments of this post:</b>
      <div *ngFor = "let comment of comments$ | async;let i = index">
        <div *ngIf ="post.id == comment.postId">*{{comment.body}}</div>
      </div>
      <button mat-raised-button color="accent"                     
            (click)="savePost(post.id,post.title,post.body);saveState[i]=!saveState[i]"
            [disabled] = saveState[i]> 
            Save
        </button>
        <div *ngIf = "saveState[i]"><b>"Saved for later viewing"</b></div>
    </mat-expansion-panel>
</mat-accordion>