<mat-card>
    <h1>Student Form</h1>
    <form #studentForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Math</mat-label>
              <input matInput 
                [(ngModel)] = "math"
                name = "math" required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Psycho</mat-label>
              <input matInput 
                [(ngModel)] = "psycho" 
                name = "psycho" required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
                <mat-label>Pay</mat-label>
                <mat-select [(ngModel)] = "pay" name = "pay" required>
                  <mat-option *ngFor="let option of options" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>       
          </p>                        
        </div>   
        <div>                           
            <button mat-raised-button color="primary" *ngIf = !result
            (click) = "predict()">
                     Predict
            </button>
            <button mat-raised-button color="primary" *ngIf = result
            (click) = "add()">
                     Save
            </button>
            <button mat-raised-button color="warm" *ngIf = result
            (click) = "cancel()">
                     Cancel
            </button>
          </div>
          <p *ngIf = result>
            <mat-form-field appearance="fill">
                <mat-label>Predict</mat-label>
                <mat-select [(ngModel)] = "result" name = "result">
                <mat-option value="Will Dropout">Will Dropout</mat-option>
                <mat-option value="Will not Dropout">Will not Dropout</mat-option>
                </mat-select>
              </mat-form-field>       
          </p>                        

          </form>
        </mat-card>
        



